html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    min-width: 380px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.356);          
}

#login{
    color: maroon;
    text-align: center;
}

@media screen and (min-width:700px) {
    div .r_login {
      font-size: 18px;
    }
}
  
@media screen and (max-width: 900px) {
    div .r_login {
      font-size: 14px;
    }
}

.left{
    width: 30%;
    padding: 20px;
    background-color: white;
    background-image: linear-gradient(maroon,rgba(212, 66, 66, 0.658));  
    border-radius: 10px 0px 0px 10px;
}

img{
    display: block;
    width: 100%;
    min-width: 80px;
    max-width: 150px;
    height: auto;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.right{
    width: 70%;
    margin: 10px 30px 10px 30px;
}

label{
    text-align: left;
}

.inputs{
    margin-top: 30px;
}

input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 10px 10px 0;
    border: 1px solid rgba(128, 0, 0, 0.788);
    border-radius: 7px;
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
    min-width: 80%;
    outline: none;
}

input:hover{
    border: 2px solid maroon;
    outline: 0 !important;
}

input:active{
    background-color: none;
    outline: 0 !important;
}

input:focus {
    outline: 0 !important;
}

::-webkit-input-placeholder{
   transition:opacity .5s ease-in-out;
}

:focus::-webkit-input-placeholder{
    opacity:0.5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -box-shadow: 0 0 0 30px white inset !important;
}

.red{
    color:rgb(196, 0, 0);
    font-size: 14px;
}

.r_me{
    margin: 8px 0;
}

.forgot_psw{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

button {
    display: block;
    font-size: 18px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    padding: 12px;
    color: white;
    background-color: maroon;
    border: 1px maroon;
    border-radius: 30px;
    cursor: pointer;
}

button {
    display: block;
    font-size: 19px;
    align-items: center;
    text-align: center;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    padding: 12px;
    color: white;
    background-color: maroon;
    border: 1px maroon;
    border-radius: 30px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(179, 30, 30);
    color: white
}

button:active{
    background-color: maroon;
    outline: none;
}

.no_account{
    margin-top: 35px;
    margin-bottom: 0;
    font-size: 13px;
    text-align: center;
}
